/* Some default properties to begin with  */

* {
  box-sizing: border-box;
}

body {
  /* font-family: helvetica, arial, sans-serif; */
  font-family: "Quicksand";
  /* font-family: 'Nova Square', cursive; */
  color: white;
  margin: 0;
  background-color: black;
}

a {
  color: blue;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-right: 2rem;
}

img {
  width: 100%;
  height: auto;
}

.footer {
  padding: 2rem;
  text-align: center;
}

/* header styles begin here */
.header {
  width: 100%;
  padding: 0 2rem;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background: rgb(0, 0, 0);
}

.main-title {
  font-style: italic;
  font-family: serif;
  font-size: 1.5rem;
  text-align: center;
}

.navigation {
  display: none;
  font-size: 2rem;
}

.mobile-menu {
  position: absolute;
  top: 32px;
  left: 15px;
  z-index: 2;
}

.mobile-navigation {
  background: rgb(217, 255, 0);
  min-height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  display: none;
}

.mobile-navigation li {
  margin: 0;
}

.header.open .mobile-navigation {
  display: flex;
  position: absolute;
  background: rgb(81, 63, 212);
}

.footer {
  width: 100%;
  padding: 0 2rem;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
}


/* first section */
.first-section {
  min-height: 5vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  height: 150px;
}

.rectangle {
  position: absolute;
  width: 60vw;
  height: 100px;
  background-color: grey;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 5rem;
    font-weight: bold;
    transition: all 1s ease;
}

.rectangle span{
  position: relative;
    display: inline-block;
  animation: wavy 5s infinite;
  animation-delay: calc(.2s * var(--i));
}
.en-title {
  font-weight: 600;
  font-size:3rem;
}

#shadowBox {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2);
  /* Black w/opacity/see-through */
  border: 3px solid;
}

.rainbow {
  text-align: center;
  text-decoration: underline;
  font-size: 32px;
  font-family: monospace;
  letter-spacing: 5px;
}
.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  /* -webkit-background-clip: text;
  background-clip: text; */
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}

@-webkit-keyframes wavy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
} 

path.cls-1 {
  fill: yellow;
}

rect.cls-2 {
  fill: blue;
}

path.cls-3 {
  fill: red;
}

#layer {
  position: relative;
  width: 100vw;
}

/* second section */
.second-section {
  /* display: flex; */
  padding: 2rem;
}

.second-section p {
  font-size: 1.5rem;
}

.toe-container {
  position: relative;
  width: 95vw;
  height:200px;
  background-color: grey;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  color: black
}

.toe {
position: relative;
 width: 10vw;
 height: 10vw;
 background-color: yellow;
}

.toe1 {
  transform: translate(0,10px);
}

.text1 {
position: absolute;
text-align: center;
 opacity: 0;
 cursor: pointer;
}

.bubble1 {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  cursor: pointer;
  background-color: cyan;
}

.bubble1:hover ~ .text1{
  opacity: 1;
}
/* third section */
.third-section {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-box {
  margin: 3rem;
}

/* media query for desktop values */
@media only screen and (min-width: 800px) {
  .header {
    justify-content: space-between;
    position: relative;
  }

  .main-title {
    text-align: left;
    font-size: 2rem;
  }
  .navigation {
    display: flex;
    flex-direction: row;
  }

  .mobile-menu {
    display: none;
  }

  .first-section {
    min-height: 1vh;
  }

  .second-section p {
    font-size: 3rem;
  }

  .image-box {
    flex-basis: 38%;
    margin: 3rem;
  }
}